.fixed-action-btn
  = link_to material_icon('edit'), edit_admin_expansion_path(@expansion), class: 'btn-floating btn-large waves-effect waves-light red'
  %ul
    %li= link_to material_icon('delete'), admin_expansion_path(@expansion), method: :delete, class: 'btn-floating waves-effect waves-light black', data: { confirm: 'Really?' }

.container
  %h2.header= @expansion.name
  %p.caption Created #{time_ago_in_words @expansion.created_at} ago.
