.play-area
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/423767/BadDecisionsBackground_LowContrast.png) repeat fixed center
  background-size: 50%
  height: 100vh
  width: 100vw
  overflow: hidden

  .action-button, .status-box
    @extend .z-depth-3
    position: absolute
    top: 66px
    left: 50%
    transform: translateX(-50%)
    z-index: 902
    background-color: color('red', 'darken-1')
    min-width: 300px

  .action-button
    @extend .btn
    @extend .btn-large
    @extend .waves-effect
    @extend .waves-light

  .status-box
    @extend .card-panel
