.round-container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 300px
  background-color: rgba(blue, 0.2)

  #round-story
    position: absolute
    left: 50%
    top: 25%
    z-index: 150
    transform: translate(-50%, -25%)

  #round-player-cards
    position: absolute
    bottom: 0
    left: 0
    right: 0
    z-index: 155
    background-color: rgba(red, 0.2)
