.round-container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 300px

  #round-story
    position: absolute
    left: 50%
    top: 25%
    z-index: 150
    transform: translate(-50%, -25%)

  #round-player-cards
    position: absolute
    bottom: 0
    left: 0
    right: 0

    &.card-hand, &.card-hand.active
      position: absolute
      z-index: 155
