header
  @extend .navbar-fixed
  vertical-align: top

  nav
    .brand-logo
      padding: 10px 0

      img
        max-height: 40px

    .button-collapse
      margin: 0

    .page-title
      font-size: 1.4rem
      padding: 0.15rem 1rem
      max-width: calc(100% - 175px)

      .subtitle
        font-size: smaller
        color: color('blue-grey', 'lighten-4')
