nav
  @extend .blue-grey
  @extend .darken-2

body.has-aside
  main, footer
    padding-right: 300px

    @media only screen and (max-width : 992px)
      padding-right: 0

.userView .background
  text-align: right

  img
    max-width: 150px
    opacity: 0.6
    margin: 20px
