body
  background-color: color('grey', 'lighten-4')
  display: flex
  flex-direction: column
  min-height: 100vh

  nav
    background-color: color('red', 'darken-1')

  main
    position: relative
    flex-grow: 1
    display: flex
    flex-direction: column

  .userView .background
    background-color: color('red', 'darken-2')
    text-align: right

    img
      max-width: 150px
      opacity: 0.6
      margin: 20px

  &:not(.admin)
    nav
      .button-collapse
        @extend .show-on-large

  &.admin
    @media (max-width: 1200px)
      .container
        width: 90%

    header, main, footer
      @media (min-width: 992px)
        margin-left: 300px

    nav
      background-color: color('blue-grey', 'darken-1')

      @media (min-width: 992px)
        width: calc(100% - 300px)

    .userView .background
      background-color: color('blue-grey', 'darken-2')

  &.has-aside
    main, footer
      margin-right: 300px

      @media only screen and (max-width : 992px)
        padding-right: 0
