main > [data-react-class]
  flex-grow: 1
  display: flex
  flex-direction: column

#game-area
  display: flex
  flex-grow: 1

  @media screen and (min-width: 992px)
    margin-right: 300px

#play-area
  flex-grow: 1
  position: relative
  display: flex
  flex-direction: column

  .grow
    flex-grow: 1

  .wait-screen
    @extend .card-panel
    position: absolute
    top: 50%
    left: 50%
    text-align: center
    width: 450px
    max-width: 100%
    transform: translateX(-50%) translateY(-50%)

  .player-list
    padding: 1rem 1rem 0.5rem 1rem
    text-align: right

  .status-bar
    @extend .truncate
    background-color: white
    color: color('grey', 'base')
    font-size: 0.9rem
    padding: 0.5rem 1rem
    text-align: right

  .round-hand
    //position: absolute
    //top: 60px
    //left: 0
    //right: 0
